<body>
    

<div>
    <img src="../../assets/vs-6469147.jpg" alt="" srcset="">
</div>

<!-- <div class="red">

</div>
<div class="blue">

</div>
<div class="trait">

</div>
<div class="versus">
<img class="vs" src="https://raw.githubusercontent.com/himedsoso/p2/main/src/assets/istockphot.png" alt="">
</div> -->
<div class="loader">
    <span class="lettre">C</span>
    <span class="lettre">H</span>
    <span class="lettre">A</span>
    <span class="lettre">R</span>
    <span class="lettre">G</span>
    <span class="lettre">E</span>
    <span class="lettre">M</span>
    <span class="lettre">E</span>
    <span class="lettre">N</span>
    <span class="lettre">T</span>
</div>

<div class="perso1">
<img *ngIf="heroeService.heroe1" [src]="heroeService.heroe1['images'].md" alt="">
</div>
<div class="arme1">

</div>
<div>
  
</div>
<div class="perso2"
>
<img *ngIf="heroeService.heroe2" [src]="heroeService.heroe2['images'].md" alt=""></div>

<div class="arme2">

</div>




<footer>
        <div class="bas">
            <button class="retro-button"(click) = 'page2()'>Back</button>
            
        </div>
        <!-- <a class="animated-button1" (click)="page3()">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Fight !
      </a> -->
</footer>


</body>