.trait {
    width: 0.1vh;
    height: 100vh;
    background-color: #0c0c01;
    transform : rotate(20deg);
    position: absolute;
    margin-left: 47%;

}
h1 {
    display: flex;
    justify-content: center;
}
.perso1 {
    background-color: aqua;
    width: 35vw;
    height: 20vh;
    // transform : rotate(-20deg);
   
}

.arme1 {
    background-color:rgb(0, 255, 204);
    width: 35vw;
    height: 15vh;
    
}

.perso2 {
    background-color: aqua;
    width: 35vw;
    height: 20vh;
    margin-left: 60%;
}

.arme2 {

    background-color:rgb(0, 255, 204);
    width: 35vw;
    height: 15vh;
    margin-left: 60%;
}

button {
    margin-left: 35%;
}
.loader {
    width: 10%;
    height: 10%;
    
    margin-left: 30%;
    
}

.lettre {
    color: #484848;
    font-size: 20px;
    letter-spacing: 15px;
    margin-bottom: 150px;
    animation: flash 1.2s linear infinite;
}
@keyframes flash {
    0% {
        color: #fff900;
        text-shadow: 0 0 7px #fff900;
    }
    90% {
        color: #484848;
        text-shadow: none;
    }
    100% {
        color: #fff900;
        text-shadow: 0 0 7px #fff900;
    }
}
.lettre:nth-child(1) {
    animation-delay: 0.1s;
}

.lettre:nth-child(2) {
    animation-delay: 0.2s;
}

.lettre:nth-child(3) {
    animation-delay: 0.3s;
}

.lettre:nth-child(4) {
    animation-delay: 0.4s;
}

.lettre:nth-child(5) {
    animation-delay: 0.5s;
}

.lettre:nth-child(6) {
    animation-delay: 0.6s;
}

.lettre:nth-child(7) {
    animation-delay: 0.7s;
}

.lettre:nth-child(8) {
    animation-delay: 0.8s;
}

.lettre:nth-child(9) {
    animation-delay: 0.9s;
}

.lettre:nth-child(10) {
    animation-delay: 1s;
}

.fonfu-out {
    opacity: 0;
    transition: opacity 0.4s ease-out;
}