@media screen and (max-width: 640px) {
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {

    display: flex;
    justify-content: center;
    
    width: 100vw;
    height: 100vh;
    align-items: center;
    position: relative;
    // width: 96vw;
    // height: 100vh;
}
// .red {
//     height: 155vh;
//     width: 80vw;
//     background-color: red;
//     transform : rotate(20deg);
//     position: absolute;
//     right: 35%;
//    bottom: 6%;
    
    
// }
// .blue {
//     height: 155vh;
//     width: 80vw;
//     transform : rotate(20deg);
//     position: absolute;
//     right: -42%;
//     bottom: -10%;
//     background-color:blue;


    
    
    

// }
// .trait {
//     width: 0.8vw;
//     height: 100vh;
//     background-color: #0c0c01;
//     transform : rotate(20deg);
//     position: absolute;
//     margin-left: 47%;
//     margin-top: -5%;

// }
// .versus {
//     display: flex;
//     justify-content: center;
    
// }
// .vs {
//    width: 50vw;
//    margin-top: 35%;
//    position: absolute;
// }


.perso1 {
    background-color: rgb(30, 77, 77);
    width: 35vw;
    height: 20vh;
    position: relative;
    margin-left: 2%;
    // margin-top: -150%;
    
   
   
}

.arme1 {
    background-color:rgb(145, 194, 184);
    width: 35vw;
    height: 15vh;
    margin-left: 2%;
    position: relative;
    
}

.perso2 {
    background-color:rgb(30, 77, 77);
    width: 35vw;
    height: 20vh;
    margin-left: 61%;
    margin-top: 15%;
    position: relative;
}

.arme2 {

    background-color:rgb(145, 194, 184);
    width: 35vw;
    height: 15vh;
    margin-left: 61%;
    position: relative;
}

button {
    margin-left: 35%;
}
.loader {
    width: 10%;
    height: 10%;
    
    margin-left: 30%;
    margin-bottom: 5%;
    margin-top: -140%;
    
}

.lettre {
    color: #484848;
    font-size: 20px;
    letter-spacing: 15px;
    margin-bottom: 150px;
    animation: flash 1.2s linear infinite;
    position: relative;
    
}
@keyframes flash {
    0% {
        color: #fff900;
        text-shadow: 0 0 7px #fff900;
    }
    90% {
        color: #484848;
        text-shadow: none;
    }
    100% {
        color: #fff900;
        text-shadow: 0 0 7px #fff900;
    }
}
.lettre:nth-child(1) {
    animation-delay: 0.1s;
}

.lettre:nth-child(2) {
    animation-delay: 0.2s;
}

.lettre:nth-child(3) {
    animation-delay: 0.3s;
}

.lettre:nth-child(4) {
    animation-delay: 0.4s;
}

.lettre:nth-child(5) {
    animation-delay: 0.5s;
}

.lettre:nth-child(6) {
    animation-delay: 0.6s;
}

.lettre:nth-child(7) {
    animation-delay: 0.7s;
}

.lettre:nth-child(8) {
    animation-delay: 0.8s;
}

.lettre:nth-child(9) {
    animation-delay: 0.9s;
}

.lettre:nth-child(10) {
    animation-delay: 1s;
}

.fonfu-out {
    opacity: 0;
    transition: opacity 0.4s ease-out;
}
.bas {
    // position: relative;
    // height: 7vh;
    // width: 100vw;
    // background-color: #0c0c01;
    margin-top: 5%;
    
}
.back {
    position: absolute;
    left: -160px;
    width: 30vw;
    height: 5vh;
    background-color:rgb(185, 183, 183);
    margin-top: 1%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    



}

// .valid {
//     position: absolute;
//     left: 150px;
//     width: 30vw;
//     height: 5vh;
//     background-color:rgb(185, 183, 183);
//     margin-top: 1%;
//     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
//     font-size: 25px;

 
// }


.animated-button {
    background: linear-gradient(-30deg, #0b1b3d 50%, #08142b 50%);
    padding: 20px 40px;
    margin: 6px;
    
    display: inline-block;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    overflow: hidden;
    color: #d4e0f7;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
            box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  }


  .animated-button:hover::before {
    opacity: 0.2;
  }
  
  .animated-button span {
    position: absolute;
  }
  
  .animated-button span:nth-child(1) {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: -webkit-gradient(linear, right top, left top, from(rgba(8, 20, 43, 0)), to(#2662d9));
    background: linear-gradient(to left, rgba(8, 20, 43, 0), #2662d9);
    -webkit-animation: 2s animateTop linear infinite;
            animation: 2s animateTop linear infinite;
  }
  
  @-webkit-keyframes animateTop {
    0% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
    100% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
  }
  
  @keyframes animateTop {
    0% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
    100% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
  }
  
  .animated-button span:nth-child(2) {
    top: 0px;
    right: 0px;
    height: 100%;
    width: 2px;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(8, 20, 43, 0)), to(#2662d9));
    background: linear-gradient(to top, rgba(8, 20, 43, 0), #2662d9);
    -webkit-animation: 2s animateRight linear -1s infinite;
            animation: 2s animateRight linear -1s infinite;
  }
  
  @-webkit-keyframes animateRight {
    0% {
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
    }
    100% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
  }
  
  @keyframes animateRight {
    0% {
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
    }
    100% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
  }
  
  .animated-button span:nth-child(3) {
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: -webkit-gradient(linear, left top, right top, from(rgba(8, 20, 43, 0)), to(#2662d9));
    background: linear-gradient(to right, rgba(8, 20, 43, 0), #2662d9);
    -webkit-animation: 2s animateBottom linear infinite;
            animation: 2s animateBottom linear infinite;
  }
  
  @-webkit-keyframes animateBottom {
    0% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
  }
  
  @keyframes animateBottom {
    0% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
  }
  
  .animated-button span:nth-child(4) {
    top: 0px;
    left: 0px;
    height: 100%;
    width: 2px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 20, 43, 0)), to(#2662d9));
    background: linear-gradient(to bottom, rgba(8, 20, 43, 0), #2662d9);
    -webkit-animation: 2s animateLeft linear -1s infinite;
            animation: 2s animateLeft linear -1s infinite;
  }
  
  @-webkit-keyframes animateLeft {
    0% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
    100% {
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
    }
  }
  
  @keyframes animateLeft {
    0% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
    100% {
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
    }
  }
  
  .animated-button1 {
    background: linear-gradient(-30deg, #3d0b0b 50%, #2b0808 50%);
    padding: 1rem 1rem 1.7rem 1rem;
    margin: 12px;
    margin-left: 60%;
    display: inline-block;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    overflow: hidden;
    color: #ccb97f;
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 2.5px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
            box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  }
  
//   .animated-button1::before {
//     content: '';
//     position: absolute;
//     top: 0px;
//     left: 0px;
//     width: 100%;
//     height: 100%;
//     background-color: #ad8585;
//     opacity: 0;
//     -webkit-transition: .2s opacity ease-in-out;
//     transition: .2s opacity ease-in-out;
//   }
  
//   .animated-button1:hover::before {
//     opacity: 0.2;
//   }
  
  .animated-button1 span {
    position: absolute;
  }
  
  .animated-button1 span:nth-child(1) {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: -webkit-gradient(linear, right top, left top, from(rgba(43, 8, 8, 0)), to(#d92626));
    background: linear-gradient(to left, rgba(43, 8, 8, 0), #d92626);
    -webkit-animation: 2s animateTop linear infinite;
            animation: 2s animateTop linear infinite;
  }
  
  @keyframes animateTop {
    0% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
    100% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
  }
  
  .animated-button1 span:nth-child(2) {
    top: 0px;
    right: 0px;
    height: 100%;
    width: 2px;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(43, 8, 8, 0)), to(#d92626));
    background: linear-gradient(to top, rgba(43, 8, 8, 0), #d92626);
    -webkit-animation: 2s animateRight linear -1s infinite;
            animation: 2s animateRight linear -1s infinite;
  }
  
  @keyframes animateRight {
    0% {
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
    }
    100% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
  }
  
  .animated-button1 span:nth-child(3) {
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: -webkit-gradient(linear, left top, right top, from(rgba(43, 8, 8, 0)), to(#d92626));
    background: linear-gradient(to right, rgba(43, 8, 8, 0), #d92626);
    -webkit-animation: 2s animateBottom linear infinite;
            animation: 2s animateBottom linear infinite;
  }
  
  @keyframes animateBottom {
    0% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
  }
  
  .animated-button1 span:nth-child(4) {
    top: 0px;
    left: 0px;
    height: 100%;
    width: 2px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(43, 8, 8, 0)), to(#d92626));
    background: linear-gradient(to bottom, rgba(43, 8, 8, 0), #d92626);
    -webkit-animation: 2s animateLeft linear -1s infinite;
            animation: 2s animateLeft linear -1s infinite;
  }
  
  @keyframes animateLeft {
    0% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
    100% {
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
    }
  }



}
@media screen and (min-width: 641px) {
    // .red {
    //     height: 155vh;
    //     width: 150vw;
    //     background-color: red;
    //     transform : rotate(20deg);
    //     position: absolute;
    //     right: 35%;
    //     bottom: 6%;
        
        
    // }
    // .blue {
    //     height: 155vh;
    //     width: 80vw;
    //     transform : rotate(20deg);
    //     position: absolute;
    //     right: -29%;
    //     bottom: -40%;
    //     background-color:blue;
    
    
        
        
        
    
    // }
    // .trait {
    //     width: 0.1vw;
    //     height: 100vh;
    //     background-color: #0c0c01;
    //     transform : rotate(20deg);
    //     position: absolute;
    //     margin-left: 47%;
    //     margin-top: -0%;
    
    // }
    // .versus {
    //     display: flex;
    //     justify-content: center;
        
    // }
    // .vs {
    //    width: 30vw;
    //    margin-top: 8%;
    //    position: absolute;
    //    margin-right: 6%;
    // }
    

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


    img {

        display: flex;
    justify-content: center;
   
    width: 100vw;
    height: 100vh;
    align-items: center;
    position: relative;
        // width: 100%;
        // height: 100%;
    }
    .perso1 {
        background-color: aqua;
        width: 25vw;
        height: 40vh;
        position: relative;
        margin-left: 5%;
        // margin-top: -150%;
        
       
       
    }
    
    .arme1 {
        background-color:rgb(0, 255, 204);
        width: 15vw;
        height: 25vh;
        position: relative;
        margin-left: 10%;
        
    }
    
    .perso2 {
        background-color: aqua;
        width: 25vw;
        height: 40vh;
        margin-left: 65%;
        margin-top: -30%;

        position: relative;
    }
    
    .arme2 {
    
        background-color:rgb(0, 255, 204);
        width: 15vw;
        height: 25vh;
        margin-left: 70%;
        position: relative;
    }
    
    button {
        margin-left: 35%;
    }
    .loader {
        width: 10%;
        height: 10%;
        margin-top: -45%;
        margin-left: 30%;
        margin-bottom: 5%;
        
    }
    
    .lettre {
        color: #484848;
        font-size: 400%;
        letter-spacing: 15px;
        margin-bottom: 150px;
        animation: flash 1.2s linear infinite;
        position: relative;
        
    }
    @keyframes flash {
        0% {
            color: #fff900;
            text-shadow: 0 0 7px #fff900;
        }
        90% {
            color: #484848;
            text-shadow: none;
        }
        100% {
            color: #fff900;
            text-shadow: 0 0 7px #fff900;
        }
    }
    .lettre:nth-child(1) {
        animation-delay: 0.1s;
    }
    
    .lettre:nth-child(2) {
        animation-delay: 0.2s;
    }
    
    .lettre:nth-child(3) {
        animation-delay: 0.3s;
    }
    
    .lettre:nth-child(4) {
        animation-delay: 0.4s;
    }
    
    .lettre:nth-child(5) {
        animation-delay: 0.5s;
    }
    
    .lettre:nth-child(6) {
        animation-delay: 0.6s;
    }
    
    .lettre:nth-child(7) {
        animation-delay: 0.7s;
    }
    
    .lettre:nth-child(8) {
        animation-delay: 0.8s;
    }
    
    .lettre:nth-child(9) {
        animation-delay: 0.9s;
    }
    
    .lettre:nth-child(10) {
        animation-delay: 1s;
    }
    
    .fonfu-out {
        opacity: 0;
        transition: opacity 0.4s ease-out;
    }
    .bas {
        // position: relative;
        // height: 7vh;
        // width: 100vw;
        // background-color: #0c0c01;
        // margin-top: 5%;
    }
    .back {
        position: absolute;
        left: -160px;
        width: 30vw;
        height: 5vh;
        background-color:rgb(185, 183, 183);
        margin-top: 1%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 25px;
        
    
    
    
    }
    
    // .valid {
    //     position: absolute;
    //     left: 150px;
    //     width: 30vw;
    //     height: 5vh;
    //     background-color:rgb(185, 183, 183);
    //     margin-top: 1%;
    //     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    //     font-size: 25px;
    // }

    .animated-button {
        background: linear-gradient(-30deg, #0b1b3d 50%, #08142b 50%);
        padding: 20px 40px;
        margin: 6px;
        
        display: inline-block;
        -webkit-transform: translate(0%, 0%);
                transform: translate(0%, 0%);
        overflow: hidden;
        color: #d4e0f7;
        font-size: 20px;
        letter-spacing: 2px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
                box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
      }
    
    
      .animated-button:hover::before {
        opacity: 0.2;
      }
      
      .animated-button span {
        position: absolute;
      }
      
      .animated-button span:nth-child(1) {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 2px;
        background: -webkit-gradient(linear, right top, left top, from(rgba(8, 20, 43, 0)), to(#2662d9));
        background: linear-gradient(to left, rgba(8, 20, 43, 0), #2662d9);
        -webkit-animation: 2s animateTop linear infinite;
                animation: 2s animateTop linear infinite;
      }
      
      @-webkit-keyframes animateTop {
        0% {
          -webkit-transform: translateX(100%);
                  transform: translateX(100%);
        }
        100% {
          -webkit-transform: translateX(-100%);
                  transform: translateX(-100%);
        }
      }
      
      @keyframes animateTop {
        0% {
          -webkit-transform: translateX(100%);
                  transform: translateX(100%);
        }
        100% {
          -webkit-transform: translateX(-100%);
                  transform: translateX(-100%);
        }
      }
      
      .animated-button span:nth-child(2) {
        top: 0px;
        right: 0px;
        height: 100%;
        width: 2px;
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(8, 20, 43, 0)), to(#2662d9));
        background: linear-gradient(to top, rgba(8, 20, 43, 0), #2662d9);
        -webkit-animation: 2s animateRight linear -1s infinite;
                animation: 2s animateRight linear -1s infinite;
      }
      
      @-webkit-keyframes animateRight {
        0% {
          -webkit-transform: translateY(100%);
                  transform: translateY(100%);
        }
        100% {
          -webkit-transform: translateY(-100%);
                  transform: translateY(-100%);
        }
      }
      
      @keyframes animateRight {
        0% {
          -webkit-transform: translateY(100%);
                  transform: translateY(100%);
        }
        100% {
          -webkit-transform: translateY(-100%);
                  transform: translateY(-100%);
        }
      }
      
      .animated-button span:nth-child(3) {
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 2px;
        background: -webkit-gradient(linear, left top, right top, from(rgba(8, 20, 43, 0)), to(#2662d9));
        background: linear-gradient(to right, rgba(8, 20, 43, 0), #2662d9);
        -webkit-animation: 2s animateBottom linear infinite;
                animation: 2s animateBottom linear infinite;
      }
      
      @-webkit-keyframes animateBottom {
        0% {
          -webkit-transform: translateX(-100%);
                  transform: translateX(-100%);
        }
        100% {
          -webkit-transform: translateX(100%);
                  transform: translateX(100%);
        }
      }
      
      @keyframes animateBottom {
        0% {
          -webkit-transform: translateX(-100%);
                  transform: translateX(-100%);
        }
        100% {
          -webkit-transform: translateX(100%);
                  transform: translateX(100%);
        }
      }
      
      .animated-button span:nth-child(4) {
        top: 0px;
        left: 0px;
        height: 100%;
        width: 2px;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 20, 43, 0)), to(#2662d9));
        background: linear-gradient(to bottom, rgba(8, 20, 43, 0), #2662d9);
        -webkit-animation: 2s animateLeft linear -1s infinite;
                animation: 2s animateLeft linear -1s infinite;
      }
      
      @-webkit-keyframes animateLeft {
        0% {
          -webkit-transform: translateY(-100%);
                  transform: translateY(-100%);
        }
        100% {
          -webkit-transform: translateY(100%);
                  transform: translateY(100%);
        }
      }
      
      @keyframes animateLeft {
        0% {
          -webkit-transform: translateY(-100%);
                  transform: translateY(-100%);
        }
        100% {
          -webkit-transform: translateY(100%);
                  transform: translateY(100%);
        }
      }
      
      .animated-button1 {
        background: linear-gradient(-30deg, #3d0b0b 50%, #2b0808 50%);
        padding: 1rem 1rem 1.7rem 1rem;
        margin: 12px;
        margin-left: 60%;
        display: inline-block;
        -webkit-transform: translate(0%, 0%);
                transform: translate(0%, 0%);
        overflow: hidden;
        color: #ccb97f;
        font-weight: 800;
        font-size: 20px;
        letter-spacing: 2.5px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
                box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
      }
      
    //   .animated-button1::before {
    //     content: '';
    //     position: absolute;
    //     top: 0px;
    //     left: 0px;
    //     width: 100%;
    //     height: 100%;
    //     background-color: #ad8585;
    //     opacity: 0;
    //     -webkit-transition: .2s opacity ease-in-out;
    //     transition: .2s opacity ease-in-out;
    //   }
      
    //   .animated-button1:hover::before {
    //     opacity: 0.2;
    //   }
      
      .animated-button1 span {
        position: absolute;
      }
      
      .animated-button1 span:nth-child(1) {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 2px;
        background: -webkit-gradient(linear, right top, left top, from(rgba(43, 8, 8, 0)), to(#d92626));
        background: linear-gradient(to left, rgba(43, 8, 8, 0), #d92626);
        -webkit-animation: 2s animateTop linear infinite;
                animation: 2s animateTop linear infinite;
      }
      
      @keyframes animateTop {
        0% {
          -webkit-transform: translateX(100%);
                  transform: translateX(100%);
        }
        100% {
          -webkit-transform: translateX(-100%);
                  transform: translateX(-100%);
        }
      }
      
      .animated-button1 span:nth-child(2) {
        top: 0px;
        right: 0px;
        height: 100%;
        width: 2px;
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(43, 8, 8, 0)), to(#d92626));
        background: linear-gradient(to top, rgba(43, 8, 8, 0), #d92626);
        -webkit-animation: 2s animateRight linear -1s infinite;
                animation: 2s animateRight linear -1s infinite;
      }
      
      @keyframes animateRight {
        0% {
          -webkit-transform: translateY(100%);
                  transform: translateY(100%);
        }
        100% {
          -webkit-transform: translateY(-100%);
                  transform: translateY(-100%);
        }
      }
      
      .animated-button1 span:nth-child(3) {
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 2px;
        background: -webkit-gradient(linear, left top, right top, from(rgba(43, 8, 8, 0)), to(#d92626));
        background: linear-gradient(to right, rgba(43, 8, 8, 0), #d92626);
        -webkit-animation: 2s animateBottom linear infinite;
                animation: 2s animateBottom linear infinite;
      }
      
      @keyframes animateBottom {
        0% {
          -webkit-transform: translateX(-100%);
                  transform: translateX(-100%);
        }
        100% {
          -webkit-transform: translateX(100%);
                  transform: translateX(100%);
        }
      }
      
      .animated-button1 span:nth-child(4) {
        top: 0px;
        left: 0px;
        height: 100%;
        width: 2px;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(43, 8, 8, 0)), to(#d92626));
        background: linear-gradient(to bottom, rgba(43, 8, 8, 0), #d92626);
        -webkit-animation: 2s animateLeft linear -1s infinite;
                animation: 2s animateLeft linear -1s infinite;
      }
      
      @keyframes animateLeft {
        0% {
          -webkit-transform: translateY(-100%);
                  transform: translateY(-100%);
        }
        100% {
          -webkit-transform: translateY(100%);
                  transform: translateY(100%);
        }
      }


}