<header class="header">
    <img class="img" src="https://lvdneng.rosselcdn.net/sites/default/files/dpistyles_v2/vdn_736w/2019/10/29/node_658751/42089936/public/2019/10/29/B9721419803Z.1_20191029170611_000%2BG9JEQ0M47.3-0.jpg?itok=1_2zlEnM1572365179"
        alt="ScoubiGang">
</header>
<main class="main">
    <h1 class="h1">Sélection des personnages :</h1>
    <div class="card">
        <div class="card__hero-selected">
            Component of heroes 1 here !
        </div>
        <div class="card__item-selected" >
            Component of items 1 here !
        </div>
    </div>

    <div class="card">
        <div class="card__hero-selected">
            Component of heroes 2 here !
        </div>
        <div class="card__item-selected" >
            Component of items 2 here !
        </div>
    </div>
    <button (click)="page2()">Fight !</button>
</main>