<i class="fa-regular fa-rectangle-xmark" id="close-icon" (click)="hideModal()"></i>
<div id="galery">
    <li  *ngFor="let data of heroesDisplayed">
        <div class="heroes_cards">
            <div class="portrait">
                <div class="hero_image">
                    <img [src]="data.images.sm" alt="`image of {{data.name}}`">
                </div>
                <p>{{data.name}}</p>
            </div>
            <div class="stats">
                <p>Strength</p>
                <div class="max_value">
                    <div class="strength" [ngStyle]="{width:getValue(data.powerstats.strength)}"></div>
                </div>
                <p>Speed</p>
                <div class="max_value">
                    <div class="speed" [ngStyle]="{width:getValue(data.powerstats.speed)}"></div>
                </div>
                <p>Durability</p>
                <div class="max_value">
                    <div class="durability" [ngStyle]="{width:getValue(data.powerstats.durability)}"></div>
                </div>
                <p>Combat</p>
                <div class="max_value">
                    <div class="combat" [ngStyle]="{width:getValue(data.powerstats.combat)}"></div>
                </div>
                <p>Power</p>
                <div class="max_value">
                    <div class="power" [ngStyle]="{width:getValue(data.powerstats.power)}"></div>
                </div>
                <p>Intelligence</p>
                <div class="max_value">
                    <div class="intelligence" [ngStyle]="{width:getValue(data.powerstats.intelligence)}"></div>
                </div>
            </div>
        </div>
    </li>
</div>
<div id="button">
    <button (click)="displayAllHeroes()" >Display all Heroes</button>
    <button (click)="displayOnlyHumanHeroes()">Display all Humans Heroes</button>
    <button (click)="displayOnlyNonHumanHeroes()">Display all Non-Humans Heroes</button>
</div>


