<div class="main">
    <div class="main__perso--right">
        <div class="perso">
            <img class="perso__img" src="https://www.superherodb.com/pictures2/portraits/10/100/10441.jpg" alt="">
            <div class="desc">
                <ul>
                    <li>name </li>
                    <li>speed </li>
                    <li>intelligence </li>
                    <li>strength </li>
                    <li>power </li>
                    <li>combat </li>
                    <li>arme </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="progress-fight">
        <span>Progress Fight</span>
    </div>
   <div class="main__perso--left">
        <div class="perso">
            <img class="perso__img" src="https://www.superherodb.com/pictures2/portraits/10/100/1496.jpg" alt="">
            <div class="desc">
                <ul>
                    <li>name </li>
                    <li>speed </li>
                    <li>intelligence </li>
                    <li>strength </li>
                    <li>power </li>
                    <li>combat </li>
                    <li>arme </li>
                </ul>
            </div>
        </div>
   </div>
</div>
<div>
    <button (click) = 'page4()' >Test</button>
    </div>