<div class="main">
    <div class="main__perso--left">
        <div class="perso perso--left">
            <img class="perso__img" [src]="hero1.images.md" alt="">
            <div *ngIf="desktop" class="desc">
                <p class="desc__text"><span class="desc__name">{{ hero1.name }}</span></p>
                <div class="desc__group">
                    <div class="desc__group-top">
                        <p class="desc__text">Intelligence : <span class="desc__stats">{{ hero1.powerstats.intelligence
                                }}</span></p>
                        <p class="desc__text">Strength : <span class="desc__stats">{{ hero1.powerstats.strength
                                }}</span></p>
                        <p class="desc__text">Speed : <span class="desc__stats">{{ hero1.powerstats.speed }}</span></p>
                    </div>
                    <div class="desc__group-bottom">
                        <p class="desc__text">Durability : <span class="desc__stats">{{ hero1.powerstats.durability
                                }}</span></p>
                        <p class="desc__text">Power : <span class="desc__stats">{{ hero1.powerstats.power }}</span></p>

                        <p class="desc__text">Combat : <span class="desc__stats">{{ hero1.powerstats.combat }}</span></p> 
                        <p class="desc__text">Life :</p>                       
                        <div class="max_value">
                            <div class="current" [ngStyle]="{width:getLifeValue(hero1_life)}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="progress-fight">

        <div class="progress-fight__show" *ngFor="let showRound of showFigth; let i=index">
            <span class="progress-fight__show__fight" *ngIf="showFigth.length-3< i">{{showRound}}</span>
        </div>


    </div>
    <div class="main__perso--right">
        <div id="right" class="perso perso--right">
            <img class="perso__img" [src]="hero2.images.md" alt="">
            <div *ngIf="desktop" class="desc">
                <p class="desc__text"><span class="desc__name">{{ hero2.name }}</span></p>
                <div class="desc__group">
                    <div class="desc__group-top">
                        <p class="desc__text">Intelligence : <span class="desc__stats">{{ hero2.powerstats.intelligence
                                }}</span></p>
                        <p class="desc__text">Strength : <span class="desc__stats">{{ hero2.powerstats.strength
                                }}</span></p>
                        <p class="desc__text">Speed : <span class="desc__stats">{{ hero2.powerstats.speed }}</span></p>
                    </div>
                    <div class="desc__group-bottom">
                        <p class="desc__text">Durability : <span class="desc__stats">{{ hero2.powerstats.durability
                                }}</span></p>
                        <p class="desc__text">Power : <span class="desc__stats">{{ hero2.powerstats.power }}</span></p>

                        <p class="desc__text">Combat : <span class="desc__stats">{{ hero2.powerstats.combat }}</span></p>
                        <p class="desc__text">Life :</p>
                        <div class="max_value">
                            <div class="current" [ngStyle]="{width:getLifeValue(hero2_life)}"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
