.main {
    text-align: center;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: url('../../assets/arena1.png') center/cover;

    @media (min-width: 768px) {
    flex-direction: row;        
    }

    &__perso {
        display: flex;

        &--right {
            display: flex;
            justify-content: flex-end;
            margin-right: 10px;
        }

        &--left {
            display: flex;
            justify-content: left;
            margin-left: 10px;
        }
    }
}

.perso {
    display: flex;
    box-sizing: border-box;
    padding: 10px 30px;
    box-shadow: lightgray 4px 4px 20px;  
    background-color: rgba($color: #ffffff, $alpha: 0.3);
    flex-direction: column;


    &__img {
        max-height: 600px;

        @media (max-width: 768px) {
            max-height: 200px;
        }
    }

    @media (min-width:768px) {
        width: 100%;
        flex-direction: row;
    }
}

.desc {
    width: 100%;
    height: 100%;
    font-size: 1.2rem;

    @media (min-width:768px) {
        font-size: 1.5rem;
    }

    &__group {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        // @media (min-width: 768px) {
        //     flex-direction: row;
        // }

        &-top {
            margin: 0 20px;
        }
    }

    &__text{
        margin: 0;
        line-height: 1.7;
        font-weight: bold;
    }

    &__name {
        text-decoration: underline;
        font-weight: bold;
        text-align: center;
    }

    &__stats {
        color: red;
        font-weight: bold;
    }

    @media (max-width: 425px) {
        font-size: 1rem;
    }
}
.max_value {
    height: 10px;
    width: 100%;
    background-color: black;
}
.current {
    height: 98%;
    background-color: red;
}
.progress-fight {
    margin: 0 10px;
    box-sizing: border-box;
    padding: 10px 30px;
    box-shadow: lightgray 4px 4px 20px;  
}


