.main {
    text-align: center;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: url('../../assets/arena1.png') center/cover;

    &__perso {
        display: flex;

        &--right {
            display: flex;
            justify-content: flex-end;
            margin-right: 10px;
        }

        &--left {
            display: flex;
            justify-content: left;
            margin-left: 10px;
        }
    }
}

.perso {
    display: flex;
    box-sizing: border-box;
    padding: 10px 30px;
    box-shadow: lightgray 4px 4px 20px;  
    background-color: rgba($color: #ffffff, $alpha: 0.3);

    &__img {
        height: 30vh;
    }

    &--right {
        flex-direction: row-reverse;
    }
}

.desc {
    margin: 0 20px;
    width: 100%;
    height: 100%;

    &__text{
        font-size: 20px;
        font-weight: bold;
    }

    &__name {
        text-decoration: underline;
        font-weight: bold;
        font-size: 1.2rem;
    }

    &__stats {
        color: red;
        font-weight: bold;
        font-size: 20px;
    }
}
.max_value {
    height: 10px;
    width: 100%;
    background-color: black;
}
.current {
    height: 98%;
    background-color: red;
}
.progress-fight {
    margin: 0 10px;
    box-sizing: border-box;
    padding: 10px 30px;
    box-shadow: lightgray 4px 4px 20px;  
}


