/* You can add global styles to this file, and also import other style files */
@import './app/page-fight/page-fight.component.scss';

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}