<div *ngFor="let randomHeroe of randomHeroes ; let index = index">
 <div >
    <div class="img">
        <img *ngIf="windowWidth()" [src]="randomHeroe.images.md " [alt]="randomHeroe.biography.fullName ">
        <img *ngIf="!windowWidth()" [src]="randomHeroe.images.sm " [alt]="randomHeroe.biography.fullName ">
    </div>
    <div class="stats">
        <p>HP:{{randomHeroe.powerstats.durability  }} </p>
        <p>Speed:{{randomHeroe.powerstats.speed }} </p>
        <p>Power:{{randomHeroe.powerstats.power }} </p>
        <p>Combat:{{randomHeroe.powerstats.combat }} </p>
    </div>
    
 </div>
</div>