<div class="img"><img src="../../assets/gotham_city2.png" alt="image batman"></div>
<div class="end">
    <h2>The End</h2>
    <p>Merci d'avoir jouer avec nous et avec les Héros de la super API <a href="https://akabab.github.io/superhero-api/api/">https://akabab.github.io/superhero-api/api/</a></p>
</div>

    <app-modal-galery id="modal" *ngIf="heroes.isModalDisplayed"></app-modal-galery>


<footer>
    <button (click)="returnHome()">Home</button>
    <button (click)="openModal()">galerie</button>
    <button (click)="startAgain()">Restart</button>
</footer>