<div class="img"><img src="../../assets/gotham_city2.png" alt="image batman"></div>
<div class="end">
    <h2>The End</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum vitae quam esse autem ipsam qui in neque temporibus a at id nulla, nihil optio assumenda eveniet incidunt doloremque? Necessitatibus, excepturi?</p>
</div>

    <app-modal-galery id="modal" *ngIf="heroes.isModalDisplayed"></app-modal-galery>


<footer>
    <button (click)="returnHome()">Home</button>
    <button (click)="openModal()">galerie</button>
    <button (click)="startAgain()">Restart</button>
</footer>